@model List<ChefsNDishes.Models.Chef>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Chefs | 
                <a href="/dishes">Dishes</a>
            </h1>
        </div>
        <div class="col-2">
            <a href="/chefs/new">Add a Chef</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Check out our roster of Chefs!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th># of Dishes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chef in Model)
                    {
                        <tr>
                            <td>
                                @chef.FirstName @chef.LastName
                            </td>
                            <td>
                                @DateTime.MinValue.Add(DateTime.Now.Subtract(@chef.Birthday.AddYears(1))).Year
                            </td>
                            <td>
                                @if (@chef.SignatureDishes != null)
                                {
                                    <p>@chef.SignatureDishes.Count()</p>
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>