@model List<ChefsNDishes.Models.Dish>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <a href="/chefs">Chefs</a>
                 | 
                Dishes
            </h1>
        </div>
        <div class="col-2">
            <a href="/dishes/new">Add a Dish</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Nom nom nom, take a look at our tasty dishes!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chef</th>
                        <th>Tastiness</th>
                        <th>Calories</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dish in Model)
                    {
                        <tr>
                            <td>
                                @dish.DishName
                            </td>
                            <td>
                                @dish.Creator.FirstName @dish.Creator.LastName
                            </td>
                            <td>
                                @dish.Tastiness
                            </td>
                            <td>
                                @dish.Calories
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>